// Mixins in here

// Test Mixins

.test(@color) {
    background-color: @color;
}

// Flexbox Mixins

.flexbox(@justify, @align) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
}

.flex-center-row() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center-col() {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

// Button Mixins

.instabutton(@width: 200px, @height: 40px, @bgcolor: @eastern-blue) {
    color: #fff;
    font-size: 1.75rem;
    border-radius: 15px;
    box-shadow: 1px 2px ;
    width: @width;
    height: @height;
    background-color: @bgcolor;
    .flexbox(space-around, center);
}